<h1>Registrar Usuario</h1>

<%= form_with model: @user, local: true do |f| %>
  <div>
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :lastname, "Apellido" %>
    <%= f.text_field :lastname %>
  </div>

  <div>
    <%= f.submit "Crear Usuario" %>
  </div>
<% end %>
