<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Inventario" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 flex h-full">
    <main class="flex-1 w-full p-44">
      <% flash.each do |type, message| %>
        <div class="rounded-md <%= flash_class(type) %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
